html {
      scroll-behavior: smooth;
}

.code {
	padding: .9rem .9rem;
    color: #bd4147;
    background-color: white;
    border-radius: .25rem;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    border: 1px solid #B71C1C;
}

/* COSAS ESPECÍFICAS */

.install-cmd {
	font-size: 1.3em;
}

#logo-navbar {
	height: 55px;
	padding-top: 10px;
	padding-left: 10px;
}

.main-row {
	height: calc(100vh - 84px);
}

@media (max-width: 601px) {
	#logo-navbar {
		height: 50px;
		padding-top: 8px;
	}
	.main-row {
		height: calc(100vh - 76px);
	}
}

.filled-rows {
	height: 100vh;
}

nav {
	box-shadow: none;
}

.side-nav li a:hover {
	color: #f44336;
}

a {
	transition: color .3s ease;
	color:white;
}

a:hover {
	color: #FFA9A3;
}

h2 {
	font-size: 5.5vh;
}

div .white .card {
	background-color: #f44336;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
	color: white;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
	color: #FFA9A3;
}

div .white .card-content {
	color: white;
}

div .white .card .card-action {
	border-top: 1px solid rgba(255,255,255,0.5);
}

.separated {
	margin-top: 20vh;
}

.separated-bottom{
	margin-bottom: 15vh;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo-spaced {
	margin-top: 8vh;
	margin-bottom: 8vh;
}


.feature-icon {
	font-size: 13vh;
	padding-top: 0.4vh;
	padding-bottom: 1vh;
}

.menu-navbar-bars {
	margin-left: 1.6vh;
}

.left-list{
	margin-left: 9vh;
}

.qs-title {
	font-size: 3.2vh;
}


#heartbeat {
	width: 15px;
	-webkit-animation: beat 1.15s ease-out infinite normal;
}

@-webkit-keyframes beat {
	0% {
		-webkit-transform: scale(1.0) rotate(0deg);
	}
	65% {
		-webkit-transform: scale(1.1) rotate(0deg);
	}
	75% {
		-webkit-transform: scale(.9) rotate(0deg);
	}
	100% {
		-webkit-transform: scale(1.0) rotate(0deg);
	}
}

#github-star {
	width: 160px;
	height: 30px;
	border: 0;
}

#github-fork {
	width: 158px;
	height: 30px;
	border: 0;
}

.card-content p {
	text-align: justify;
}